@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-neutral-900 bg-neutral-50;
  }

  ::selection {
    @apply bg-neutral-900 text-white;
  }
}

@layer utilities {
  .font-serif {
    font-family: var(--font-playfair), serif;
  }

  .font-sans {
    font-family: var(--font-inter), sans-serif;
  }
}
